[Unit]
Description=Barrier Client daemon
After=network.target

[Service]
ExecStart=barrierc --enable-crypto --name kvm-01 --display :0.0 10.0.1.6
Restart=always

[Install]
WantedBy=multi-user.target
